/* @import './base.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #581c87, #0f172a);
  font-family: 'Arial', sans-serif;
  color: white;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
} */
